{% extends "base.html" %}

{% block title %}
    Biography
{% endblock title %}

{% block content %}
    <div id="confirmDelete" class="modal hide fade" aria-hidden="true">
        <div class="modal-header">
            <h3>Are you sure?</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete {{ page.title }}?  This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
            <a href="{{ url_for('wiki.delete', url=page.url) }}" class="btn btn-danger">Yes, delete.</a>
        </div>
    </div>

    {{ page }}

    <!-- New Code Starts Here -->
    <hr>
    <h3>Posts Created</h3> <!-- Heading above the table -->
    {% if pages_sent %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages_sent %}
                {% if page.url != session.get('unique_id', 'Default Title') + "-home" and page.url != session.get('unique_id', 'Default Title') + "-bio" %}
                    <tr>
                        <td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.title }}</a></td>
                        <td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.url }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>There are no pages yet.</p>
    {% endif %}
    <hr>
    <!-- New Code Ends Here -->
{% endblock content %}

{% block sidebar %}
{% if image != '' %}
    <img src= "{{ url_for('wiki.static', filename='Images/' + image) }}" alt="img">
{% endif %}

    {% if page.tags %}
    <h3>Tags</h3>
    <ul>
        {% for tag in page.tags.split(',') %}
            <li><a href="{{ url_for('wiki.tag', name=tag.strip()) }}">{{ tag|trim }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <h3>Actions</h3>
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="{{ url_for('wiki.edit', url=page.url) }}">Edit</a></li>
    </ul>
{% endblock sidebar %}
